@model SampleMvcApp.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmpDetails</title>
</head>
<body>
    <div>
        <h1>Details of Mr. @Model.EmpName</h1>
        <hr />
        <p>The ID: @Model.EmpId</p>
        <p>The Name: @Model.EmpName</p>
        <p>The Address: @Model.EmpAddress</p>
        <p>The Salary: @Model.EmpSalary</p>
    </div>
</body>
</html>
